{% extends 'base.html' %}

{% block content %}
<section class="landing-page-area-one">
    <h1 class="whiskeyfeats">Welcome to our About page!</h1>
    <div>
        <img src="../../static/images/about-page-whiskey-collection.jpg" alt="big collection of assorted types of Whiskey"  class="background">
    </div>
    <div>
        <p class="tiny">
            Whiskey Collection brings poise and style to consumers by delivering premium alcohol worldwide in an affordable mannor.
        </p>
    </div>
</section>
{% endblock %}