{% extends 'base.html' %}

{% block content %}
<section class="whiskey-tile">
    <div id="gradient"> </div>
    <div class="main-tile-dimension">
        <div class="whiskey-section">
            <div class="image-container-whiskey">
                <img src="../../static/images/robin-mcskelly-VyfllVu3BvI-unsplash.jpg" alt="Picture of a 21 year old pure malt whiskey">
            </div>
            <div class="whiskey-name">
                <h1>Welcome to your Whiskey Collection!</h1>
            </div>
            <div class="whiskey-info">Named the best Blended Malt by Whisky Magazine for 2009, 2010, and 2011, 
                this is considered amongst many whisky drinkers to be one of the preeminent expressions within 
                the last two decades. A vatted malt named after the father of Japanese whisky, Masataka Taketsuru,
                its caramel in color with a rich, full-bodied spice.
            </div>
        </div>
    </div>
</section>
{% endblock %}