*,*:before,*::after { 
    padding: 0; 
    margin: 0; 
    box-sizing: inherit; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    padding-top: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 64, 218);
}

.main-tile-dimension {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.image-container-whiskey {
    height: 1000px;
}

.whiskey-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow: 1;
    background-color: black;
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.whiskeyfeats {
    z-index: 1;
    height: 3em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    padding-top: 2em;
}

.tiny {
    margin: 3px;
    z-index: 1;
    height: 3em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 1em;
}

#email-field, #pass-field, h2, h3 {
    color: white;
}